<HEAD>

<TITLE>Genealogia Familia Robles Pedreira</TITLE>
<META NAME="Title" CONTENT="Genealogia Familia Robles Pedreira">
<META NAME="Author" CONTENT="Hebe Robles">
<META NAME="Subject" CONTENT="Genealogia">
<META NAME="Description" CONTENT="Luis de Sosa">
<META NAME="Keywords" CONTENT="Genealogia, Robles, Sosa, Souza, Caneja, Canseco">
<META NAME="Generator" CONTENT="Microsoft FrontPage 6.0">
<META NAME="Language" CONTENT="Spanish">
<META NAME="Revisit" CONTENT="1 day">
<META NAME="Distribution" CONTENT="Global">
<META NAME="Robots" CONTENT="All">

</HEAD>

<BODY LANG="es-ES" BGCOLOR="#ffffff" BACKGROUND="imagenes/fondoliso.jpg" bgproperties="fixed" style="font-family: Times New Roman; font-size: 12 pt; color: #000080; letter-spacing: 1pt; text-align: Justificar; margin-left: 5">
<div align="center">
 <center>
 <table border="0" cellpadding="0" cellspacing="0" width="75%">

 <tbody>
 <tr>
 <td width="100%">
 <p align="center">
 <img border="0" src="imagenes/hebe5rc.jpg" width="300" height="50">
 </p>
 <h3 align="center"><font color="#000080" face="Visigotica Leonesa">Descendientes de Luis de Sosa Canseco</font></h3>

 </center>

 <p align="left">Los datos que se consignan han sido extraídos principalmente de los libros:&nbsp;<br>
 <br>
 * &#8220;<i><u>Padre Isla que estás en destierro</u>&#8221;</i> Autores: José Antonio Llamas Fernández, José Francisco de Isla. Editores: Vidanes (León) : Junta Vecinal de Vidanes, 2003 Año de publicación: 2003.País: España.<br>
 <br>
 *<i>&quot;</i><u><i>Porma -Curueño.&quot;Los pueblos de la confluencia a través de los archivos
 parroquiales</i></u><i>&#8221;</i>. Laurentino César López Sánchez. Ediciones Monte Casino.2003 - España.<br>
 <br>
 * <i>&quot;<u>El monasterio de Gradefes - Apuntes para su historia y la de algunos otros cenobios y pueblos del Concejo</u></i><u></u><i><u>.</u>&#8221; </i>Aurelio Calvo. Edición
 Facsímil-León 1984<i>&nbsp;
 </i>
 </p>

 <p align="left">
 * <i>&quot;<u>Un viaje histórico por el Alto Esla</u></i>&quot;. Julio de Prado Reyero. Diputación Provincial de León.</p>
	<p align="left">
 * &quot; <u><i>Extracto de los Expedientes de la Orden de Carlos 3&quot;.</i></u> 
	1771-1847, Tomo III<i><br>
 <br>
 </i>Y de las constancias existentes en el libro de bautizados de Vidanes.&nbsp;<br>
 <br>
 Ello merced a los aportes y búsquedas que tan generosamente efectuara la Sra. Anna Belén Ferreras,  cuya invalorable colaboración  me ha permitido conocer mis antepasados en León.&nbsp;<br>
 <br>
 Se incluye también otra información extraída de Archivos españoles en Red: Título de la unidad: "Díaz de la Caneja y Sosa Martino y Tovar, Joaquín" Archivo: Archivo Histórico Nacional Signatura: ESTADO-CARLOS_III, EXP.1819 y distintas páginas de internet, las que se encuentran expresamente citadas en los párrafos correspondientes.&nbsp;<br>
 <br>
 Agradezco también a la Sra. Profesora Elena Rodríguez Díaz autora del blog: <a href="http://www.blogger.com/profile/00029488157564831448" target="_blank"> La casa de la Bolera</a>
 , las precisiones que me aportara respecto al contenido del expediente referido en el párrafo anterior.
 </p>

 <h2 align="center">I</h2>
 <p align="left">1.- <b><font size="5"> Luis de Sosa Canseco :</font></b>
 </p>
 <p align="left" style="text-indent: 0; margin-left: 25; margin-right: 0">Nació aproximadamente en el año 1650 en Vidanes, León.<br>
 D. Luis de Sosa y Canseco, fue Gobernador del estado de Rivesla, en cuya casa solariega del pueblo de Vidanes,  nació el Padre José Francisco de Isla (novelista y religioso jesuita español), el 5 de mayo de 1703 .Luis de Sosa fue su padrino.
 </p>
 <p align="center" style="text-indent: 0; margin-left: 25; margin-right: 0"><b><u>Partida de nacimiento del padre Isla</u></b>
 </p>
 <p align="center">
 <img border="0" src="imagenes/partidapadreisla.jpg" width="441" height="187">
 </p>
 <p align="center">&nbsp;
 </p>
 <p align="justify" style="margin-left: 25">Luis de Sosa figura en Libros de empadronamiento de nobles de Vidanes <i> "..en los cuales en virtud de la Real Provisión  y en el año mil seiscientos ochenta  se registró uno echo por  Don Luis de Sosa y Canseco Governador y Justicia ...en las villas y montañas de Voñar, nombrado por el Excmo Marques de Astorga y en dicho empadronamiento resulta la partida que dice así: Su merced el ..Don Luis de Sosa y Canseco Governador y su hijo Don Luis, hidalgos notorios."</i> "Díaz de la Caneja y Sosa Martino y Tovar, Joaquín" Archivo: Archivo Histórico Nacional Signatura: ESTADO-CARLOS_III, EXP.1819 Fº 53 vta.
 </p>
 <p align="justify" style="margin-left: 25"><font size="2">En la partida de matrimonio de su hijo Joseph de Sosa consta como ya fallecido a esa fecha (4/7/1707).<br>
 <br>
 </font>
 <font size="3">
 HERMANO: <a name="Jose de Sosa y Canseco"> José de Sosa y Canseco</a>
 , cura de Palacios y Quintanilla de Rueda.</font>
 </p>
 <div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="570">

  <tbody>
  <tr>
  <td width="313">
  <p align="center">
  <img border="0" src="imagenes/escudososa1.jpg" width="195" height="256">
  </td>

  </center>

  <td width="253">
  <p align="left">Escudo existente en el arco de entrada del zaguán de la casona de Vidanes de propiedad de los Sosa .Tiene un lema escrito en cada uno de sus rodeles que flanquean el yelmo que dice:
  </p>
  <p align="center"><b>NOBILITAS MANET &#8211; PECUNIAE DEFICIUNT</b>
  &nbsp;<br>
  <i>
  La nobleza perdura&nbsp;<br>
  Las riquezas se acaban</i>&nbsp;<br>
  <br>
  Los cuatro apellidos que&nbsp;<br>
 conforman el escudo son:&nbsp;<br>
  <br>
  <b>Castro-Sosa-<br>
  Canseco-Villapadierna</b>
  </td>
  </tr>

  <tr>
  <td width="313">
  <img border="0" src="imagenes/Vidanescasa1.jpg" width="313" height="225">
  </td>
  <td width="253">
  <p align="center">Consta el escudo de 4 campos :<br>
  Uno con 5 escuderes con las quinas de Portugal que representa a los Sosas; otro que representa a los Cansecos con un lebrel atado con cadenas a un árbol, de su copa cuelga el&nbsp;
  caldero ; un tercero con un árbol y dos leones rampantes y
  empinados , que representa a los Villapadiernas y el cuatro con seis rodeles, tres y tres , a los Castros
  </td>
  </tr>

  <tr>
  <td width="313">
  </td>
  <td width="253">
  </td>
  </tr>

  </tbody>
  </table>
 </div>
 <div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0">

  <tbody>
  <tr>
  <td>
 <p align="center" style="margin-left: 25">
 <img border="0" src="imagenes/vidanescasa2.jpg" width="190" height="124" align="left">
 </p>
  </td>
  <td>
  <p align="center">
  <img border="0" src="imagenes/Vidanes.jpg" width="252" height="178">
  </td>
  </tr>

  </center>

  <tr>
  <td>
  </td>
  <td>
  <p align="center"><font size="2">Lámina Casona de Vidanes<br>
  Libro El Monasterio de Gradefes op.cit</font>
  </td>
  </tr>

  </tbody>
  </table>
 </div>
 <p align="left" style="margin-left: 25">Luis de Sosa casó con <b> Manuela de Villapadierna</b>
 (Villapadierna y Castro) . Nacida en el mes de mayo de 1647 en Castro de Sobarriba, León.<br>
 La partida de matrimonio se perdió en un incendio.<br>
	Se atestigua su matrimonio en un Libro de Cuentas y Apeos de 17 de noviembre 
	de 1703 y también en la fe de muerte del padre de Manuela de Villapadierna , 
	al citar como yerno a Luis de Sosa.<br>
 Nota: Manuela se casa en segundas nupcias con Joseph de Prado natural de Villamoros de Mansilla.
 </p>
 <p align="left" style="margin-left: 25">&nbsp;
 </p>
 <div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0">

  <tbody>
  <tr>
  <td>
  <p align="center">
  <img border="0" src="imagenes/casadelosVillapadierna.jpg" width="242" height="203">
  </p>
  <p align="center"><font size="2">Casa dónde vivían los Villapadierna en Castro de la Sobarriba.&nbsp;<br>
  (foto cedida a Anna Belén Ferreras para su publicación en esta página, por el Sr. José María Fernández, a quién agradecemos su gentileza .<br>
  &nbsp;La casa pertenece en la actualidad a la&nbsp; familia del Sr. Fernández.)&nbsp;</font>
  </td>
  </tr>

  </tbody>
  </table>

  </center>

 </div>
 <p align="left" style="margin-left: 25">Ellos tuvieron los hijos siguientes:&nbsp;
 </p>
 <ol start="2">
<li>
   <p align="left" style="margin-left: 35"><b>María de Sosa Villapadierna.</b>
   &nbsp;<br>
   Nació aproximadamente en 1670,en Vidanes.<br>
</li>
  <li>
   <p align="left" style="margin-left: 35"><b>Francisca de Sosa Villapadierna.<br>
   </b>
   Nació aproximadamente en 1677,en Vidanes.<br>
   Casada con Lorenzo Fernández natural o vecino de Modino, en 1702.<br>
</li>
  <li>
   <p align="left" style="margin-left: 35"><b><a name="Luis de Sosa Villapadierna">Luis de Sosa Villapadierna Canseco</a>
   .</b>
   &nbsp;<br>
   Nació aproximadamente en 1680.&nbsp;<br>
   Canónigo en San Isidoro de León.<br>
   En el libro :&quot;<i>Vida y milagros del glorioso San Isidoro, arzobispo de Sevilla y patrono del reino de León&quot; .</i>Autor Julio Pérez Llamazares&nbsp;<br>
   se cita a Luis de Sosa en el relato de los milagros obrados por San Isidoro:&nbsp;<br>
   <br>
   &quot;<i>Un canónigo, llamado D. Luis de Sosa, y que el 1752, cuando se puso a la venta en León la Vida de San Isidoro, con este milagro, era Prior de San Isidoro, al saber que se había
   declarado un incendio en el altar mayor, corrió, como todos, a la iglesia para combatir el terrible elemento, llevando un cántaro lleno de agua, y al llegar a la escalera, con la precipitación y azoramiento, dio un traspié y bajó
   rodando de un golpe hasta el último escalón, donde se levantó ileso, y como si nada hubiera ocurrido, y sin derramarse ni una gota de agua del cántaro que llevaba en la mano, suceso que todos tuvieron por nuevo milagro,
   .........&quot;</i><br>
   <br>
</li>
  <li>
   <p align="left" style="margin-left: 35"><b>Joseph Francisco de Sosa Villapadierna Canseco</b>
   &nbsp;<br>
   Nació el 12 de mayo de  1687.<br>
            Bautizo celebrado por Blas Díez de Canseco.&nbsp;<br>
            Su tío: José de Sosa y Canseco, cura de Palacio y Vega de la Ribera,&nbsp;<br>
            fue su padrino.<br>
   &nbsp;</li>
  <li>
   <p align="left" style="margin-left: 35"><b><a name="Manuela de Sosa Villapadierna">Manuela de Sosa Villapadierna</a>
   </b>
 nació el 9 Mayo 1689, Vidanes y tuvo  allí  su bautismo infantil.                               Folio 2  Bautizados Vidanes 1687-1797<br>
   Su padrino fue Pedro Fernández cura de Modino<br>
   Casada con Fernando de Tovar o Tobar (viudo de Mariana Gil), matrimonio celebrado el 29 de junio de 1711 en Vidanes.<br>
  </li>
  
 
  
  <li>
   <p align="left" style="margin-left: 35"><b><a name="Joaquin de Sosa Villapadierna">Joaquín de Sosa Villapadierna</a>
   </b>
   <br>
   <br>
  </li>
  
 
  
   <p align="center">************
  
 
  
   <h2 align="center"><b>II</b>
</h2>
  
 
  
   <p>&nbsp;
</p>
<p align="left" style="text-indent: 0; margin-left: 0">2.- <font size="5"><b>María de Sosa Villapadierna:</b></font>
<p align="left" style="text-indent: 0; margin-left: 25; margin-right: 0">Nació aproximadamente en el año 1670 en Vidanes, León.<br>
María se casó con <b> Juan de Robles Rejón </b>en mayo de 1691. Juan nació <span style="font-size:11.0pt">el 28 Septiembre 1664 en </span>Castro de la Sobarriba (hoy Castro del Condado).&nbsp;<br>
<br>
      Ellos tuvieron los hijos siguientes:
 </p>
<p class="MsoNormal" style="margin-left:100.8pt;text-indent:-93.6pt;tab-stops:
7.2pt right 50.4pt left 54.0pt right 93.6pt left 100.8pt;mso-layout-grid-align:
none;text-autospace:none"><span style="font-size:11.0pt">8<span style="mso-tab-count:1">&nbsp; </span><b>María de Robles Sosa </b>
nació aproximadamente en 1695.</span>
</p>
<p class="MsoNormal" style="margin-left:100.8pt;text-indent:-93.6pt;tab-stops:
7.2pt right 50.4pt left 54.0pt right 93.6pt left 100.8pt;mso-layout-grid-align:
none;text-autospace:none"><span style="font-size:11.0pt">9<span style="font-size: 11.0pt">.</span><span style="mso-tab-count:1"> </span><b>Juan de Robles Sosa</b>
 nació el 16 Febrero 1699 y murió el 9 Julio 1756.<o:p>
</o:p>
</span>
</p>
<p class="MsoNormal" style="margin-left:100.8pt;text-indent:-93.6pt;tab-stops:
7.2pt right 50.4pt left 54.0pt right 93.6pt left 100.8pt;mso-layout-grid-align:
none;text-autospace:none"><span style="font-size:11.0pt">10<span style="mso-tab-count:1"> </span><b>Manuel Antonio de Robles Sosa</b>
 nació el 17 Junio 1708.<o:p>
</o:p>
</span>
</p>
<p class="MsoNormal" style="margin-left:100.8pt;text-indent:-100.8pt;tab-stops:
right 50.4pt left 54.0pt right 93.6pt left 100.8pt;mso-layout-grid-align:none;
text-autospace:none"><span style="font-size:11.0pt"><span style="mso-tab-count:
1">&nbsp; </span>11<span style="mso-tab-count:1"> </span><b>Diego de Robles Sosa </b>
nació aproximadamente en 1715 en Devesa del Curueño, León. Él murió aproximadamente en 1763.</span>
</p>
<p class="MsoNormal" style="margin-left:100.8pt;text-indent:-100.8pt;tab-stops:
right 50.4pt left 54.0pt right 93.6pt left 100.8pt;mso-layout-grid-align:none;
text-autospace:none"><span style="font-size:11.0pt"><span style="mso-tab-count:
1">&nbsp; </span>12<span style="mso-tab-count:1"> </span><b>Lorenzo de Robles Sosa </b>
.Cura de Fermín y Valporquero, Capellán de San Lorenzo, de Devesa.</span>
</p>
<p class="MsoNormal" style="margin-left:100.8pt;text-indent:-100.8pt;tab-stops:
right 50.4pt left 54.0pt right 93.6pt left 100.8pt;mso-layout-grid-align:none;
text-autospace:none"><span style="font-size:11.0pt"><span style="mso-tab-count:
1">&nbsp; </span>13<span style="mso-tab-count:1"> </span><b>Joseph de Robles Sosa</b>
.</span>
</p>
<p class="MsoNormal" style="margin-left:100.8pt;text-indent:-100.8pt;tab-stops:
right 50.4pt left 54.0pt right 93.6pt left 100.8pt;mso-layout-grid-align:none;
text-autospace:none"><span style="font-size:11.0pt"><span style="mso-tab-count:
1">&nbsp; </span>14<span style="mso-tab-count:1"> </span><b>Cathalina Robles de Sosa</b>.<o:p>
</o:p>
</span>
</p>
 
  
   <p align="left" style="margin-left: 35">  &nbsp;<a href="genealogia/historia-familar.html" target="_blank">Genealogía Familia Robles&nbsp;</a>
 
  
   
 <p style="text-indent: 0; margin-left: -20; margin-right: 0"><br>
 3.- <font size="5"><b><a name="Francisca de Sosa Villapadierna">Francisca de Sosa Villapadierna</a>
 :</b></font>
 
  
   
 <p align="left" style="margin-left: 0"><span
 style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Nació aproximadamente en 1677 en Vidanes, León.<br>
 </span><span style="font-size:11.0pt">Francisca se casó con <b>Lorenzo Fernández</b>
 aproximadamente en 1702. Lorenzo nació en Modino.<o:p>
 </o:p>
 </span>
<p class="MsoNormal" style="margin-left:28.8pt;mso-layout-grid-align:none;
text-autospace:none"><span style="font-size:11.0pt">Ellos tuvieron los hijos siguientes:<o:p>
</o:p>
</span>
</p>
<p><span
style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA"><span style="mso-tab-count:1">&nbsp; </span>15<b><span style="mso-tab-count:1">. </span>Lorenzo Fernández&nbsp;</b>
 nació el 30 Enero 1704</span>
</p>
 </ol>
 <p style="margin-left: 0">&nbsp;&nbsp; 5- <font size="5"><b><a name="Joseph Francisco de Sosa Villapadierna">Joseph Francisco de Sosa Villapadierna</a>
 y Canseco:</b></font>
 <ol start="16">
 
  
   <p align="left" style="margin-left: 0">  Nació el 12 de mayo de 1687 en Vidanes, León y falleció el 26 de noviembre de 1735.<br>
  Figura en Libros de empadronamiento de nobles de Vidanes &quot;.<i>En el año de mil setecientos y veintidós  y en virtud de otra  Real Provisión y siendo Teniente de Governador  el .. Don Josef de Sosa Villapadierna y Canseco se berificó otro empadronamiento en el que se halla la Partida Siguiente:Don Josef de Sosa Villapadierna y Canseco hijodalgo notorio tiene por hijos legítimos a  Joaquín,
   Josef, Luis y Juan Antonio de Sosa Villapadierna y Canseco, hijosdalgos notorios cuyos derechos Libros y Empadronamientos se hallan encavezados con las Reales Provisiones citadas y concluidas en la forma legalsegún de los mismos consta y aún reconocidos otras particiones .</i> "Díaz de la Caneja y Sosa Martino y Tovar, Joaquín" Archivo: Archivo Histórico Nacional Signatura:
   ESTADO-CARLOS_III, EXP.1819 Fº 53 vta. y 54.<br>
   <br>
   En partidas de bautismo de algunos nietos figura como &quot;clérigo prebístero&quot;, por lo que al parecer al quedar viudo se hizo clérigo.<p align="left" style="margin-left: 0">Se casó con <b><a
   name="Maria Josefa de Tovar">María Josefa de Tovar</a>
 ( Tobar) Gil</b>
 , el 4 de julio de 1707 en Santa Marina de Almanza .&nbsp;<br>
María nació en Almanza , el 15 de agosto de 1688 hija de <b><a name="Fernando de Tovar"> Fernando de Tovar</a>
   </b>
 y Mariana Gil de la Vega y 
fue bautizada el 24 de agosto de 1688 en Santa Marina. Fueron sus padrinos  Lic. Santiago Santos de Llamas 
y  Juana de Tovar.<p align="left" style="margin-left: 0">Ellos tuvieron los hijos siguientes, todos ellos nacidos en Vidanes:<p align="left" style="margin-left: 35">&nbsp;
 
 <li>
   <p align="left" style="margin-left: 35"> <b><a name="Joaquin de Sosa Tovar">Joaquín de Sosa Tovar</a>
 . </b>
 Nacido el 9 de abril de 1710&nbsp;<span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"> y tuvo su bautismo infantil el 19 Abril 1710. Folio 9<br>
   Párroco: Blas Díaz Canseco<br>
   Padrino: Fernando de Tobar, vecino de Almanza.<br>
   Testigos: Vicente de Valladares y Antonio Rodríguez vecinos de Vidanes.&nbsp;<br>
   Él murió en 1805</span>.<br>
   Fue cura de la parroquia de El Santo Sepulcro de Benavente .En el año 1737 cambió a Oseja de Sajambre Estuvo allí hasta 1759 en que renunció a la parroquia e ingresó en la Orden de San Basilio Magno, en el Convento de los Mártires S. Cosme y S. Damián.<br>
 
 <li>
   <p align="left" style="margin-left: 35"> <b><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"><a name="Mariana de Sosa Tovar">Mariana de Sosa Tovar</a>
 </span></b><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA">nació 7 junio 1711?&nbsp; y tuvo su bautismo infantil 7 junio 1711?</span> .Folio 13<br>
   <span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Blas Díaz Canseco<br>
   Padrino: Su abuelo Fernando de Tovar, vecino de Almanza.<br>
   Testigos: Lorenzo Fernández y Vicente Valladares vecinos de Vidanes.&nbsp;</span><br>
 
 <li>
   <p align="left" style="margin-left: 35"><b>Joseph de Sosa Tovar </b>
   <span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">nació el 8 Agosto 1712.Folio11<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Blas Díaz Canseco<br>
   Padrino: Su abuelo Fernando de Tovar, vecino de Almanza.<br>
   Testigos: Lorenzo Fernández y Vicente Valladares vecinos de Vidanes</span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"><br>
   </span>
 
 <li>
   <p align="left" style="margin-left: 35"><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"><b><a name="Manuela Maria de Sosa Tovar">Manuela María de Sosa Tovar</a>
 </b>
   <span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA">nació el 20 Febrero 1714&nbsp; y tuvo su bautismo infantil el 20 Febrero 1714.Folio 12<br>
   </span></span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Blas Díaz Canseco<br>
   Padrino: Lorenzo de Salazar vecino del lugar de Modino.<br>
   Testigos: Lorenzo Fernández y Vicente Valladares vecinos de Vidanes</span><span
   style="font-size: 11.0pt; font-family: Times New Roman; mso-fareast-font-family: Times New Roman; mso-ansi-language: ES; mso-fareast-language: ES; mso-bidi-language: AR-SA"><br>
   </span>
 
 <li>
   <p align="left" style="margin-left: 35"><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"><b><span style="font-size:11.0pt"><a name="Antonia de Sosa Tovar">Antonia de Sosa Tovar</a>
   </span></b>
   <span style="font-size:11.0pt"> nació el 4 Mayo 1715 y tuvo su bautismo infantil el 4 Mayo 1715.Folio 14<br>
   </span></span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Blas Díaz Canseco<br>
   Padrino: Su abuelo Fernando de Tovar, vecino de Almanza.<br>
   Testigos: Lorenzo Fernández y Vicente Valladares vecinos de Vidanes</span><span
   style="font-size: 11.0pt; font-family: Times New Roman; mso-fareast-font-family: Times New Roman; mso-ansi-language: ES; mso-fareast-language: ES; mso-bidi-language: AR-SA"><br>
   </span>
 
 <li>
   <p align="left" style="margin-left: 35"><span style="font-size:11.0pt">
   <b><a name="Luis de Sosa Tovar">Luis de Sosa Tovar</a>
   &nbsp;</b>
   <span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA"> nació el 12 Julio 1716 y tuvo su bautismo infantil el 12 Julio 1716<span>. Folio 15<br>
   </span></span></span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Blas Díaz Canseco<br>
   Padrino: Su abuelo Fernando de Tovar, vecino de Almanza.<br>
   </span>
 
 <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35" align="left"><b><span
   style="font-size:11.0pt"><a name="Bernardo de Sosa Tovar">Bernardo de Sosa Tovar</a>
   &nbsp;</span></b>
   <span style="font-size:11.0pt"> nació el 8 Julio 1717 y tuvo su bautismo infantil el 8 Julio 1717 .</span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"><br>
   </span>
 
 <li>
   <p align="left" style="margin-left: 35"><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"> <b><a name="Francisca Javiera de Sosa Tovar">Francisca Javiera de Sosa Tovar</a>
   &nbsp;</b></span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA"> nació el 24 Agosto 1718&nbsp; y tuvo su bautismo infantil el 24 Agosto 1718.Folio 16<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Padrino: Su abuelo Fernando de Tovar, vecino de Almanza.<br>
   </span>
 
 <li>
   <p align="left" style="margin-left: 35"><b><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"><a name="Juan Antonio de Sosa Tovar">Juan Antonio de Sosa Tovar</a>
   </span></b>
   <span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA"> nació el 21 Junio 1722 y tuvo su bautismo infantil el 21 Junio 1722.Folio 17<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Padrino: Su abuelo Fernando de Tovar, vecino de Almanza..</span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA"><br>
   </span>
 
 <li>
   <p align="left" style="margin-left: 35"> <b>Maria Javiera de Sosa Tovar </b>
 nació 19 de septiembre de 1723.&nbsp;<br>
          En 1737 se traslada a Oseja con su hermano Joaquín. <font size="3">Folio18</font><br>
   <span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Manuel Rodríguez.<br>
   Padrino: Domingo Valladares.<br>
   Testigos: Pedro de Valladares y Pedro Sánchez vecinos de Vidanes</span><br>
 
 <li>
   <p align="left" style="margin-left: 35"> <b><span style="font-size:11.0pt"><a name="Antonio Fernando de Sosa Tovar">Antonio Fernando de Sosa Tovar</a>
 </span></b>
   <span style="font-size:11.0pt">nació el 14 Junio 1725 y tuvo su bautismo infantil el 21 Junio 1725.<o:p>
   </o:p>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA">Folio 20</span><span style="font-size:11.0pt"><br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Manuel Rodríguez.<br>
   Padrino: Domingo Valladares.<br>
   Testigos: Pedro de Valladares y Pedro Sánchez vecinos de Vidanes</span><span style="font-size:11.0pt"><br>
   </span>
 
 <li>
   <p align="left" style="margin-left: 35"><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"> <b><a name="Marta Maria de Sosa Tovar">Marta María de Sosa Tovar</a>
 </b></span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA">nació el 29 Julio 1729&nbsp; y tuvo su bautismo infantil 2 Set 1729 .<br>
   </span>
 
 <li>
   <p align="left" style="margin-left: 35"> <b><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA"><a name="Francisco Fernando de Sosa Tovar">Francisco Fernando de Sosa Tovar</a>
   &nbsp;</span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA"> </span></b><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA">nació el 8 Febrero 1730&nbsp; y tuvo su bautismo infantil el 14 Febrero 1730</span>. <b><br>
   </b>
 
 <li>
   <p align="left" style="margin-left: 35"><span style="font-size:11.0pt"><b><a name="Ana Maria de Sosa Tovar">Ana María de Sosa Tovar</a>
 </b>nació el 24 Julio 1732 y tuvo su bautismo infantil el 29 Julio 1732 </span>.
 </ol>
 <p align="left" style="margin-left: 35">&nbsp;
  
 
  
   <p align="center">************
  
 
  
   <h2 align="center"><b>III</b>
</h2>
 <p align="left">15.-<b><font size="5"><a name="Lorenzo Fernandez Sosa">Lorenzo Fernández Sosa</a>
 </font></b>
 <span style="font-size:11.0pt"> nació el 30 Enero 1704 en Vidanes, León.<o:p>
 </o:p>
 </span><!--[if supportFields]><span
style='font-size:11.0pt'><span style='mso-element:field-begin'></span>XE &quot;</span><span
style='font-size:10.0pt'>Piñán (Álvarez), Isabel-6164</span><span
style='font-size:11.0pt'>&quot;</span><![endif]-->
 <!--[if supportFields]><span
style='font-size:11.0pt'><span style='mso-element:field-end'></span></span><![endif]-->
 <span style="font-size:11.0pt"><o:p>
 </o:p>
 </span>
</p>
 <p class="MsoNormal" style="margin-left:28.8pt;mso-layout-grid-align:none;
text-autospace:none"><span style="font-size:11.0pt">Lorenzo se casó con <b><a name="Isabel Pinan">Isabel Piñán</a>
 </b>
 , hija de Felipe Antonio Piñán y Isabel Fernández Álvarez, aproximadamente en 1738. Isabel nació aproximadamente en 1713.&nbsp;<o:p>
 </o:p>
 </span>
 </p>
 <p class="MsoNormal" style="margin-left:28.8pt;mso-layout-grid-align:none;
text-autospace:none"><span style="font-size:11.0pt">Ellos tuvieron los hijos siguientes, todos ellos nacidos en Vidanes:</span>
 </p>
 <ol start="30">
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Lorenzo Fernandez Piñan">Lorenzo Fernández Piñán</a>
   </b>
   nació el 29 Julio 1739 y tuvo su bautismo infantil el 6 Agosto 1739. Folio 35<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Manuel Rodríguez.<br>
   Padrinos: Lorenzo Fernández, su abuelo y María Rebollo.<br>
   Testigos: Lorenzo su padre&nbsp; y Francisca de Sosa abuela.</span><span style="font-size:11.0pt"><br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Juana Manuela Fernandez">Juana Manuela Fernández Piñán</a>
   </b>
   nació el 24 Junio 1743&nbsp; y tuvo su bautismo infantil el 1 Julio 1743.<o:p>
   </o:p>
   Folio 42<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Manuel Rodríguez.<br>
   Padrinos:Francisco Rodríguez vecino de Vidanes.<br>
   Testigos: Lorenzo Fernández su padre, Francisca de Sosa ; Martina Martínez y León Fernández.</span><span style="font-size:11.0pt"><br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Joaquin Fernandez">Joaquín Fernández Piñán</a>
   </b>
   nació el 17 Agosto 1749 y tuvo su bautismo infantil el 27 Agosto 1749.Folio 51<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Manuel Rodríguez.<br>
   Padrinos: Antonio de Sosa religioso del orden de San Basilio<br>
   Testigos: </span><span style="font-size: 11.0pt; mso-fareast-font-family: Times New Roman; mso-ansi-language: ES; mso-fareast-language: ES; mso-bidi-language: AR-SA"> Juan del Arenal cura de
   Modino, Juan González cura de Sorriba, Pedro Valladares y Francisco Rodríguez vecinos de Vidanes.</span><span
   style="font-size:11.0pt"><br>
   <o:p>
   </o:p>
   </span></li>
  <li>
   <p style="margin-left: 35"><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:ES;mso-bidi-language:
AR-SA"><b><a name="Lorenza Fernandez">Lorenza Fernández Piñán</a>
   </b>
   nació el 1 Agosto 1752&nbsp; y tuvo su bautismo infantil el 1 Agosto 1752.Folio 59<br>
   En la partida se asienta como LORENZA DE SOSA PIÑÁN</span><br>
   <span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Diego Robles de Sosa.<br>
   Padrinos: Antonio Sánchez de Vidanes<br>
   </span></li>
 </ol>
 <p align="left" style="margin-left: 0">18.-<font size="5"><b><a name="Jose de Sosa Tovar">José de Sosa Tovar</a>
 :&nbsp; 
 </b></font><p align="left" style="margin-left: 25">Llamado &quot;el mozo&quot; para distinguirlo de su tío y de su abuelo. N<span style="font-size:11.0pt">ació el 8 Agosto 1712 en Vidanes,
 León y tuvo su bautismo infantil el 8 Agosto 1712 en Vidanes, León.<o:p>
 </o:p>
 </span><p align="left" style="margin-left: 25">Se casó (1) con <b> <a name="Vicenta Arenal"> Vicenta Arenal</a>
 </b>
 hija de Manuel Arenal y Teresa de Torizes y Rabago aproximadamente en 1723.<p align="left" style="margin-left: 25">Ellos
 tuvieron los siguientes hijos, todos ellos nacidos en Vidanes:
 <ol style="margin-left: 35" start="34">
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Joseph Pascual de Sosa">Joseph Pascual de Sosa</a>
   Arenal&nbsp;</b>
   nació el 13 Abril 1740 y tuvo su bautismo infantil el 23 Abril 1740.Folio 41<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Manuel Rodríguez.<br>
   Padrinos: Joseph del Arenal natural de Pendes en la provincia de Liebana<br>
   Testigos: </span><span style="font-size: 11.0pt; mso-fareast-font-family: Times New Roman; mso-ansi-language: ES; mso-fareast-language: ES; mso-bidi-language: AR-SA">Juan del Arenal don Andrés Rojo y don Juan González curas de Pesquera, Modino y
   Sorriba.&nbsp;<br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Gregoria Marcela de Sosa">Gregoria Marcela de Sosa</a> Arenal </b>nació el 9 Mayo 1744 y tuvo su bautismo infantil el 14 Mayo 1744.Folio 44<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Manuel Rodríguez.<br>
   Padrinos: Luis de Molina y Rueda correxidor.<br>
   Testigos: </span><span style="font-size: 11.0pt">Lorenzo de Sosa, Santos García y Francisco Rodríguez.<br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Andrea de Sosa">Andrea de Sosa</a>
   &nbsp;Arenal</b>
   nació el 23 Noviembre 1745 y tuvo su bautismo infantil el 30 Noviembre 1745.Folio 47<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Matheo Rodríguez Canseco.<br>
   Padrinos: Alonso Orexas vecino del lugar de Valmartino y María Fernández.<br>
   Testigos: Pedro de Valladares, Francisco García y Francisco Rodríguez</span><span
   style="font-size: 11.0pt; mso-fareast-font-family: Times New Roman; mso-ansi-language: ES; mso-fareast-language: ES; mso-bidi-language: AR-SA">.</span><span
   style="font-size:11.0pt"><br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Maria Antonia de Sosa">María Antonia de Sosa</a>
   Arenal&nbsp;</b>
   nació el 29 Enero 1747&nbsp; y tuvo su bautismo infantil el 29 Enero 1747.Folio&nbsp;<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Matheo Rodríguez Canseco.<br>
   Padrinos: Lorenzo Fernández.<br>
   Testigos: Miguel García, Francisco García y Antonio Sánchez</span><span
   style="font-size:11.0pt"><br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Luisa Froilana de Sosa">Luisa Froilana de Sosa</a>
   Arenal </b>nació el 5 Octubre 1748 y tuvo su </span><!--[if supportFields]><span style='font-size:11.0pt'><span
style='mso-element:field-begin'></span>XE &quot;</span><span style='font-size:
10.0pt'>Sosa Tovar de, Luisa Froilana-6189</span><span style='font-size:11.0pt'>&quot;</span><![endif]-->
   <!--[if supportFields]><span
style='font-size:11.0pt'><span style='mso-element:field-end'></span></span><![endif]-->
   <span style="font-size:11.0pt">bautismo infantil el 12 Octubre 1748.Folio 49<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Diego de Robles Sosa.<br>
   Padrinos: Juan del Arenal cura de Modino<br>
   Testigos: </span><span style="font-size: 11.0pt"> Lorenzo Fernández, Antonio Sánchez y Francisco Rodríguez.</span><span style="font-size: 11.0pt"><br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Vicenta Madalena de Sosa">Vicenta Madalena de Sosa</a>
   Arenal </b>nació el 22 Julio 1750 y tuvo su bautismo infantil el 22 Julio 1750.Folio 53<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Diego de Robles Sosa.<br>
   Padrinos: Manuel Arenal.<br>
   Testigos: </span><span style="font-size: 11.0pt">Antonio Sánchez, Francisco Rodríguez y Miguel García.</span><span
   style="font-size:11.0pt"><br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Francisca Teresa de Sosa">Francisca Teresa de Sosa</a>
   &nbsp;Arenal</b>
   nació el 10 Abril 1752 y tuvo su bautismo infantil el 10 Abril 1752.Folio 57<br>
   </span><span
   style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:ES;mso-fareast-language:
ES;mso-bidi-language:AR-SA">Párroco: Diego de Robles Sosa.<br>
   Padrinos: Juan González cura de Sorriba<br>
   Testigos: </span><span style="font-size: 11.0pt">Francisco Rodríguez, Francisco García y Juan Tejerina.</span>
   <span style="font-size:11.0pt"><br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Gertrudis Baltasar de Sosa">Gertrudis Baltasar de Sosa</a> Arenal&nbsp; </b>nació el 13 Enero 1754&nbsp; y tuvo su bautismo infantil el 13 Enero 1754.Folio 59<br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Estephania Josepha de Sosa">Estephanía Josepha de Sosa</a>
   &nbsp;Arenal</b>
   nació el 2 Agosto 1755 y tuvo su bautismo infantil el 2 Agosto 1755.Folio 63<br>
   </span></li>
  <li>
   <p class="MsoNormal" style="tab-stops: right 50.4pt left 54.0pt right 93.6pt left 100.8pt; mso-layout-grid-align: none; text-autospace: none; margin-left: 35"><span
   style="font-size:11.0pt"><b><a name="Joseph Antonio de Sosa">Joseph Antonio de Sosa</a>
   Arenal </b>nació el 13 Diciembre 1757&nbsp; y tuvo su bautismo infantil el 13 Diciembre 1757.Folio 69 </o:p>
   </span></li>
 </ol>
 <p class="MsoNormal" style="margin-left:100.8pt;text-indent:-100.8pt;tab-stops:
right 50.4pt left 54.0pt right 93.6pt left 100.8pt;mso-layout-grid-align:none;
text-autospace:none"><span style="font-size:11.0pt">&nbsp; <o:p>
 </o:p>
 </span>
 </p><p align="left" style="margin-left: 25">De estado civil viudo se casó (2) con <span style="font-size:11.0pt"><b><a name="Theresa Rodriguez">Theresa Rodríguez</a>
 (Suárez)</b>
 , hija de Manuel Rodríguez y Theresa Suárez. Theresa nació aproximadamente en 1712 en Riaño.</span><p align="left" style="margin-left: 25">Ellos tuvieron el siguiente hijo:
 <ol start="44">
  <li>
   <p align="left" style="margin-left: 35"><b>Luis Pelayo Ramón de Sosa o Luis de Sosa y Tovar.</b>N<span style="font-size:11.0pt">ació el 26 Junio 1772 y murió aproximadamente en 1843.<b><o:p>
   </o:p>
   </b>
   </span>
  </li>
 </ol>
 <p align="left" style="margin-left: 0">25.-.<b><font size="5"><a name="Maria Javiera de Sosa y Tovar">María Javiera de Sosa y Tovar</a>
 </font></b><p align="left" style="margin-left: 25">Nació aproximadamente el 19 de setiembre de 1723.en Vidanes&nbsp;<br>
 Maria se casó con <b><a name="Tomas Diaz de la Caneja"> Tomás Díaz de la Caneja</a>
 </b>
 , el 4 de febrero de 1750.<br>
 Tomás nació en Oseja el 29 de diciembre de 1717&nbsp; y era hijo del matrimonio celebrado el&nbsp; 3 de octubre de 1703 entre <b>Tomás Díaz de la Caneja</b>
 ( <font size="2">N. Oseja 25 de diciembre de 1682 , Regidor en 1729;Alcalde Mayor en 1736&nbsp;</font> <font size="2">Alcalde por el lugar de Soto en 1742</font>) y <b> Rosa de Martino
 Mendoza</b>
 .&nbsp;&nbsp;<p align="left" style="margin-left: 25">Tomás y Maria tuvieron los hijos siguientes:
 <ol start="45">
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Pelayo Diaz de la Caneja y Sosa">Pelayo Díaz de la Caneja y Sosa</a>
 </b>
   .<br>
   Nació el 10 de octubre de 1762 en Oseja de Sajambre<br>
  </li>
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Ignacio Diaz de la Caneja">Ignacio Díaz de la Caneja y Sosa&nbsp;</a>
   </b>
   <br>
   Nació el 31 Julio 1769 en Oseja de Sajambre, LEÓN.&nbsp;<br>
   Él murió el 20 Noviembre 1856.&nbsp;<br>
   Obispo de Oviedo 1848-1856&nbsp;<br>
   Ignacio Díaz Caneja (Oseja de Sajambre, León, 31 de julio de 1779 - 20 de noviembre de 1856) .&nbsp;<br>
   Sacerdote español que llegó a ser obispo de Oviedo. Ignacio Díaz Caneja y Sosa fue hermano de Joaquín Díaz-Caneja, ministro de España, y descendiente por línea paterna de la
   familia del Arcediano.&nbsp;<br>
   Se traslada a vivir a Valladolid y estudia Teología y Filosofía doctorándose en la primera y obteniendo una cátedra en la segunda. En el mismo Valladolid desempeñó la cátedra de
   Filosofía en la Universidad, hasta que fue llamado por el obispo cuadrillero a León con destino al Seminario Diocesano de San Froilán, donde permaneció de 1796 a 1802.&nbsp;<br>
   En 1802, D. Ignacio pasó a encargarse de la parroquia leonesa de Villabalter hasta 1834, año en el que ocupó el cargo, tras la muerte de Fernando VII, de Deán de la Catedral de Oviedo
   hasta 1836. Ese año fue elegido para el puesto de gobernador eclesiástico de la misma diócesis.&nbsp;<br>
   El 17 de enero de 1848 fue nombrado Obispo de Oviedo siendo ordenado el 16 de julio de 1848. Fallece el 20 de noviembre de 1856.&nbsp;<br>
   Entre el legado que dejó D. Ignacio destaca la fundación del Seminario Diocesano de Oviedo en 1851 y la construcción de iglesia parroquial de Oseja, terminada en 1855 y costeada por él.&nbsp;<br>
   De igual forma dejó para Sajambre 6.000 reales y una renta anual que se repartía periódicamente entre los vecinos, así como una gran cantidad de dinero destinado a la conservación de
   los caminos del municipio.&nbsp;<br>
  </li>
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Joaquin Diaz de la Caneja y Sosa">Joaquín Díaz de la Caneja y Sosa</a>
   <br>
   </b>
   Nació el 11 Agosto 1777 en Oseja de Sajambre, LEÓN. Él murió aproximadamente en 1851 en Madrid.&nbsp;<br>
   Político español que figuró en los grupos avanzados del liberalismo y fue elegido por primera vez diputado en 1809. Restablecido el absolutismo, emigró a Portugal, luego a Francia y
   de aquí a Italia. En la segunda época constitucional (1820-1823) figuró entre los liberales moderados. Inaugurada la reacción absolutista (1823), se traslado a Cádiz, donde ejerció
   la abogacía. Hacia 1830 fue desterrado a Sevilla por poco tiempo. en 1834 fue subsecretario de Gracia y Justicia, en el reinado de Isabel II, vocal del Tribunal Supremo de España e
   Indias (hasta 1836), miembro del Real Consejo (1845) .<br>
   &nbsp;</li>
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Jose Diaz de la Caneja y Sosa">José Díaz de la Caneja y Sosa</a>
 </b>
   .<br>
   &nbsp;</li>
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Manuel Diaz de la Caneja y Sosa">Manuel Díaz de la Caneja y Sosa</a>
 .&nbsp;<br>
   </b>
  </li>
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Juan Diaz de la Caneja y Sosa">Juan Díaz de la Caneja y Sosa</a>
   .<br>
   </b>
  </li>
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Maria Diaz de la Caneja y Sosa">María Díaz de la Caneja y Sosa</a>
   .&nbsp;</b>
   <br>
   (Conforme testamento de Tomas Diaz de la Caneja, María tuvo 3 hijos Julián Agustín y María ).<br>
   &nbsp;</li>
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Rosa Diaz de la Caneja y Sosa">Rosa Díaz de la Caneja y Sosa</a>
   </b>
   .<br>
   <br>
   Genealogía Familia Diaz de la Caneja :<font size="2"><a href="http://lacasadelabolera.blogspot.com/2008/07/sobre-el-poblamiento-de-sajambre-i.html" target="_blank">La Casa de la Bolera</a>
  (Sobre Historia, Cultura y Patrimonio Histórico-Artístico del Concejo de Sajambre).Publicada por Elena Rodríguez Díaz  Archivos españoles en Red: Título de la unidad: "Díaz de la Caneja y Sosa Martino y Tovar, Joaquín" Archivo: Archivo Histórico
   Nacional.Signatura: ESTADO-CARLOS_III,EXP.1819.</font></li>
 </ol>
  
 
  
   <p align="center">************
  
 
  
   <p align="center">&nbsp;<h2 align="center"><b>IV</b>
</h2>
 <p align="left" style="margin-left: 0">44.-<b><font size="5"><a name="Luis Pelayo Ramon de Sosa">Luis Pelayo Ramón de Sosa</a>
 o Sosa Tovar:</font> 
 </b><p align="left" style="margin-left: 50"><font size="3">Nació el 26 de junio de 1772 y bautizado el 2 de&nbsp; Julio  1772,  inscripto folio 85 libro bautismo de Vidanes.&nbsp;<br>
               Padrinos Juan Puñeyro (Cura Parricho del lugar de Fuentes de Peña Corada)  y  Dorotea Morán .<br>
               Testigos Don Bizente de Sosa y Ana Sánchez de Grandoso.&nbsp;<br>
 Falleció el 29 de marzo de 1843</font><p align="center" style="margin-left: 50">
 <img border="0" src="imagenes/partidaluispsosa.jpg" width="515" height="272"><br>
 <div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="75%" height="167">

  <tbody>
  <tr>
  <td width="50%" height="167">
  <p align="center">
  <img border="0" src="imagenes/luissosa.jpg" width="167" height="231">
  </p>
  </td>
  <td width="50%" height="167">
  <p align="center">Comandante General y Vocal de la Junta Soberana del Reino de León
  </p>
  <p align="center">&nbsp;
  </td>
  </tr>

  </tbody>
  </table>

  </center>

 </div>
 <p align="left" style="margin-left: 50">El célebre coronel escribió: El 24 de abril los habitantes fieles de León gritaron: mueran los franceses<br>
 Un manuscrito de Luis de Sosa certifica que esta provincia se levantó en armas antes que Madrid .<br>
 Luis de Sosa y Tovar, protagonista de la jornada del 24 de abril de 1808, futuro coronel y comandante general de León y su provincia contra los invasores franceses, nos da él mismo un resumido currículum de su vida en una relación oficial de méritos, presentada en varios ministerios el 15 de junio de 1828:&nbsp;<br>
 <br>
 Es de edad de cincuenta y cinco años, de calidad noble y acreditada limpieza de sangre, natural del pueblo de Vidanes (nacido en 1792), en el Reyno de León, e hijo legítimo de don Josef de Sosa y Tovar y de doña Teresa Rodríguez Suárez.&nbsp;<br>
 <br>
 Siguió la carrera literaria doce años, habiendo cursado los cinco últimos de estudios mayores en la Real Universidad de Valladolid. Entró en la militar en veintiocho de diciembre de mil setecientos noventa y siete, habiendo sido admitido al servicio de
 S.M.: en el Cuerpo de guardias de su real persona, cuya plaza juró en siete de enero de mil setecientos noventa y ocho, y sirvió hasta el fin de octubre de mil ochocientos cinco. Pasó al de destinos políticos en el citado año de mil ochocientos cinco, en el que le confirió
 S.M. la administración de la Real gracia de Excusado del Departamento de Mansilla, en la diócesis de León, y la graduación de teniente de Caballería....&nbsp;
 </p><p align="left" style="margin-left: 50">Desempeñando y viviendo de este modesto empleo de recaudador para el rey de la contribución de Excusado, o de los diezmos de la casa más rica de cada pueblo, le amaneció a Luis de Sosa la jornada del 24 de abril de 1808, en una España desconcertada y sin pulso, en plena anarquía política, en aquel desdichado mes de abril. Napoleón, bajo apariencias de amigo, aliado y protector , había enviado al Norte de Europa 14.000 soldados españoles para que no se le opusieran en la conquista de España. 1000 franceses tenían ocupadas las ciudades de Pamplona y su ciudadela, la de Barcelona -instalados en
 Montjuich-, Vitoria, Burgos, Valladolid y Salamanca. El recién nombrado rey de España, Fernando VII, alejado de la patria con engaños y retenido en Bayona, hacia donde viajaban los reyes destronados, Carlos IV y su esposa María Luisa, reclamados por Bonaparte.&nbsp;<br>
 <br>
 En Madrid, apoyado por 25.000 soldados franceses, gobernaba el mariscal Murat, cuñado del emperador y árbitro militar y político del territorio español. En estas circunstancias, el Ayuntamiento de León, como protesta contra el caos y la solapada invasión francesa, convocó las fiestas de la coronación de Fernando VII, el Deseado, y encargó al recaudador Luis de Sosa, con fama ya de literato y poeta, la proclama de convocación, cuyo texto es ampliamente conocido. En él no se declaraba explícitamente la insurrección contra Napoleón, porque oficialmente todavía era amigo y aliado de España, pero Luis de Sosa nos dejó la clave para la interpretación de sus palabras: atender al espíritu más allá de la letra, cuando las circunstancias no permitían más que veladamente expresarse.<br>
 <br>
 De hecho, la proclama leonesa del 24 de abril se comentó en toda la nación, la publicó la Gaceta de Madrid y, al enterarse Murat, mandó recoger y quemar toda la edición, y reeditar el número sin proclama. Al ocupar las tropas francesas la ciudad de León, el primer nombre que traían en sus listas era el del autor del manifiesto, para encarcelarle y, quizá, para algo peor.&nbsp;<br>
 (artículo extraído de la página &#8220;<a href="http://ancestrosdemitribu.blogspot.com/2008/04/len-se-alz-la-primera-contra-napolen.html" target="_blank">Ancestros del Bierzo</a>
 &#8221;&nbsp;<br>
 <br>
 <font color="#000080">
 Fundó el primer periódico de León, "El Manifiesto de León", del que sólo se publicó un número el 22 de diciembre de 1808 ya que a los pocos días del mismo mes se vio D. Luis de Sosa
 precisado a huir de la Capital en unión de los demás miembros de la Junta e internarse en las montañas por el arribo de las tropas francesas. El periódico tenía dos secciones fundamentales, noticias de la guerra
 y reflexiones políticas y pensaba destinar el producto de su venta , deducidos los gastos, al mantenimiento del ejército.<br>
 Luego publicó varios artículos en e</font>l Mercurio , además de escribir en periódicos de Cádiz y Sevilla. En este último en los números 55 y 71 colaboró con un artículo y una
 poesía dedicada al Real Cuerpo de los Guardias de Corps, respectivamente.<br>
 &nbsp;&nbsp;<br>
 Escribió un libro dedicado a la reina Isabel II, titulado Poema bucólico.<p align="left" style="margin-left: 50"><span
 style="font-size: 12.0pt; mso-bidi-font-size: 7.0pt; mso-fareast-font-family: Times New Roman; mso-ansi-language: ES; mso-fareast-language: EN-US; mso-bidi-language: AR-SA"><font
 color="#000080">Una prueba más del amor y culto de las letras que acarició durante toda su vida, es la hermosa biblioteca que poseía en la <span style="letter-spacing: 1pt">casa&nbsp;
 solariega de Vidanes. Aún se conserva un índice de ella, por el </span><span
 style="letter-spacing: 1pt; font-size: 12.0pt; mso-bidi-font-size: 7.0pt; mso-fareast-font-family: Times New Roman; mso-ansi-language: ES; mso-fareast-language: EN-US; mso-bidi-language: AR-SA">cual
 </span><span style="letter-spacing: 1pt">se aprecia que el número de obras de qué constaba, ascendía a 935&nbsp; </span>con miles de volúmenes. Los últimos restos de esta biblioteca,
 que hasta hace muy poco se han visto dispersos por las viejas dependencias de la mencionada casa han sido llevados a la capital de León , obrando en poder del Sr. Secretario de la Excma.
 Diputación Provincial D. José Peláez</font></span>, a quien el parentesco liga con la rama de los Sosas. Este Señor conserva también algunos otros libros y objetos que pertenecieron a
 esta familia.<span
 style="font-size:12.0pt;mso-bidi-font-size:7.0pt;
font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
mso-ansi-language:ES;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">.</span><p align="left" style="margin-left: 50">
 La familia del coronel cedió el archivo personal del militar, con cartas, poesías y partes de guerra, la mayoría manuscritos&nbsp;<br>
 El abad Viñayo recibió hace 26 años más de 2.500 documentos inéditos del héroe de la Independencia<br>
 <a href="http://www.diariodeleon.com/inicio/noticia.jsp?CAT=113&amp;TEXTO=6809492" target="_blank">Diario de león&nbsp;</a>
 <br>
 <br>
 <b>Gaceta de Madrid</b>
 <br>
 Real orden circular resolviendo la solicitud del coronel D. Luis de Sosa disponiendo que en atención a los distinguidos méritos y servicios del mismo se le declare la jubilación que por los años de servicio le corresponda. según las últimas órdenes de retiros.<br>
 Publicación: 17/04/1822, nº 109<br>
 Departamento: Ministerio de Hacienda<br>
 Páginas: 581 - 581&nbsp;<br>
 <br>
 <a href="http://www.boe.es/" target="_blank">BOE.Es</a>
 <p align="center" style="margin-left: 50">
 <img border="0" src="imagenes/Sosajub.jpg" width="516" height="681">
 <p align="left" style="margin-left: 50">Luis y su cónyuge tuvieron los hijos siguientes:&nbsp;
 </p>
 <ol start="53">
  <li>
   <p align="left" style="margin-left: 50"><b><a name="Carlos Felix de Sosa">Carlos Félix de Sosa</a>
   , </b>literato,<b> </b>nació aproximadamente en 1800. En 1860 aparece como Director de un periódico y en noviembre del año 1863 lee en el Casino de León, una oda a León de su
   autoría, con motivo de la llegada del Ferrocarril a la ciudad.</li>
 </ol>
   <p align="left" style="margin-left: 50">De conformidad al autor del libro : &quot;<i>Un viaje histórico por el Alto Esla</i>&quot; (op. cit) los versos inscriptos en el pedestal del
   busto levantado en Vidanes en ocasión de conmemorarse el bicentenario de la muerte del Padre Isla son de la autoría de Carlos Félix de Sosa.&nbsp;&nbsp;
   <p align="left" style="margin-left: 50"><span style="mso-ansi-language:ES">«<i>Dióme vida Vidanes, centro hermoso/ de regalado suelo/ de puro clima y despejado cielo./ Breve recinto (si
   antes anchuroso)/ en plácida llanura/ que acrece y embellece su hermosura/ con perspectivas gratas y variadas./ Del Esla relucientes las cascadas/ sus márgenes frondosas/ anchas vegas
   herbosas/ al par de las colinas arboladas/ erguidas suavemente y coronadas/ que su curso constante al sol enseña/ de la encimada peña».</i><o:p>
   </o:p>
   </span>
 <p align="center" style="margin-left: 35"><font size="5"><b>****************
 </b></font>
  
 
  
 <p align="center" style="margin-left: 35"><a href="/">
 <img border="0" src="imagenes/inicio.jpg" width="120" height="14"></a>
 </td>
 </tr>

 </tbody>
 </table>
</div>
